body{
    text-align: center;
    display: flex;
    justify-content: center;
}
form{
    width: 500px;
    padding: 20px;
    box-shadow:  0 0 1 black;
}
input{ 
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
